In [2]:
!pip uninstall -y numpy pandas scikit-learn joblib mlflow

Found existing installation: numpy 1.26.4
Uninstalling numpy-1.26.4:
  Successfully uninstalled numpy-1.26.4
Found existing installation: pandas 2.2.3
Uninstalling pandas-2.2.3:
  Successfully uninstalled pandas-2.2.3
Found existing installation: scikit-learn 1.6.1
Uninstalling scikit-learn-1.6.1:
  Successfully uninstalled scikit-learn-1.6.1
Found existing installation: joblib 1.5.1
Uninstalling joblib-1.5.1:
  Successfully uninstalled joblib-1.5.1
Found existing installation: mlflow 2.22.0
Uninstalling mlflow-2.22.0:
  Successfully uninstalled mlflow-2.22.0

In [4]:
!pip install --quiet \
  "numpy<=1.23.5" \
  "pandas==1.5.3" \
  "scikit-learn==1.5.1" \
  "joblib==1.2.0" \
  "mlflow==2.8.1"

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
pandas-ml 0.6.1 requires enum34, which is not installed.
azure-cli 2.71.0 requires azure-datalake-store~=1.0.0a0, but you have azure-datalake-store 0.0.53 which is incompatible.
azure-cli 2.71.0 requires azure-keyvault-keys==4.9.0b3, but you have azure-keyvault-keys 4.8.0 which is incompatible.
azure-cli 2.71.0 requires azure-mgmt-containerregistry==10.3.0, but you have azure-mgmt-containerregistry 13.0.0 which is incompatible.
azure-cli 2.71.0 requires azure-mgmt-resource==23.1.1, but you have azure-mgmt-resource 23.4.0 which is incompatible.
azure-cli 2.71.0 requires azure-mgmt-storage==22.1.0, but you have azure-mgmt-storage 23.0.0 which is incompatible.
azure-cli 2.71.0 requires websocket-client~=1.3.1, but you have websocket-client 1.8.0 which is incompatible.
azure-cli-core 2.71.0 requires argcomplete~=3.5.2, but you have argcomplete 3.6.2 which is incompatible.
azure-cli-core 2.71.0 requires knack~=0.11.0, but you have knack 0.12.0 which is incompatible.
azure-cli-core 2.71.0 requires msal[broker]==1.31.2b1, but you have msal 1.32.3 which is incompatible.
azure-cli-core 2.71.0 requires msal-extensions==1.2.0, but you have msal-extensions 1.3.1 which is incompatible.
azure-cli-core 2.71.0 requires psutil>=5.9; sys_platform != "cygwin", but you have psutil 5.2.2 which is incompatible.
azureml-automl-dnn-nlp 1.60.0 requires torch==2.2.2, but you have torch 2.6.0 which is incompatible.
azureml-automl-runtime 1.60.0 requires scipy<=1.11.0,>=1.0.0, but you have scipy 1.15.3 which is incompatible.
azureml-automl-runtime 1.60.0 requires urllib3<2.0.0, but you have urllib3 2.4.0 which is incompatible.
azureml-inference-server-http 1.4.0 requires flask~=3.0.0, but you have flask 3.1.1 which is incompatible.
azureml-inference-server-http 1.4.0 requires gunicorn>=23.0.0; platform_system != "Windows", but you have gunicorn 21.2.0 which is incompatible.
azureml-inference-server-http 1.4.0 requires pydantic~=2.9.0, but you have pydantic 2.11.5 which is incompatible.
azureml-train-automl-runtime 1.60.0 requires scipy<=1.11.0,>=1.0.0, but you have scipy 1.15.3 which is incompatible.
azureml-train-automl-runtime 1.60.0 requires urllib3<2.0.0, but you have urllib3 2.4.0 which is incompatible.
azureml-training-tabular 1.60.0 requires scipy<1.11.0,>=1.0.0, but you have scipy 1.15.3 which is incompatible.
azureml-training-tabular 1.60.0 requires urllib3<2.0.0, but you have urllib3 2.4.0 which is incompatible.
dask-expr 1.1.10 requires dask==2024.8.0, but you have dask 2023.2.0 which is incompatible.
dask-expr 1.1.10 requires pandas>=2, but you have pandas 1.5.3 which is incompatible.
dask-sql 2024.5.0 requires dask[dataframe]>=2024.4.1, but you have dask 2023.2.0 which is incompatible.
dask-sql 2024.5.0 requires distributed>=2024.4.1, but you have distributed 2023.2.0 which is incompatible.
distributed 2023.2.0 requires psutil>=5.7.0, but you have psutil 5.2.2 which is incompatible.
inference-schema 1.8 requires wrapt<=1.16.0,>=1.14.0, but you have wrapt 1.17.2 which is incompatible.
jupyterlab-nvdashboard 0.13.0 requires jupyterlab>=4, but you have jupyterlab 3.6.8 which is incompatible.
opencensus-ext-azure 1.1.14 requires psutil>=5.6.3, but you have psutil 5.2.2 which is incompatible.
responsibleai 0.36.0 requires networkx<=2.5, but you have networkx 3.4 which is incompatible.
scikit-image 0.25.0 requires numpy>=1.24, but you have numpy 1.23.5 which is incompatible.
tensorflow 2.19.0 requires numpy<2.2.0,>=1.26.0, but you have numpy 1.23.5 which is incompatible.

In [5]:
import numpy, pandas as pd, sklearn, joblib, mlflow, sys, platform
print("Python   :", sys.version.split()[0], "|", platform.platform())
print("NumPy    :", numpy.__version__)
print("pandas   :", pd.__version__)
print("sklearn  :", sklearn.__version__)
print("joblib   :", joblib.__version__)
print("mlflow   :", mlflow.__version__)

ModuleNotFoundError: No module named 'sklearn'

In [2]:
!pip install --quiet --no-deps --force-reinstall \
  scikit-learn==1.5.1 joblib==1.2.0

In [2]:
import sys, subprocess, importlib.metadata as md

print("➜  Python exe:", sys.executable)

# 1) Eski/bozuk kurulumları kaldır
subprocess.run([sys.executable, "-m", "pip", "uninstall", "-y",
                "scipy", "threadpoolctl"], check=False)

# 2) Uyumlu ikili wheel’leri kur (no-deps → başka pakete dokunma)
subprocess.check_call(
    [sys.executable, "-m", "pip", "install", "--quiet", "--no-deps",
     "scipy==1.11.0", "threadpoolctl==3.1.0"]
)

print("✅  Kurulum tamam — sürümler:")
for p in ("scipy", "threadpoolctl"):
    print(f"  {p:<14}", md.version(p))

➜  Python exe: /anaconda/envs/jupyter_env/bin/python
Found existing installation: scipy 1.15.2
Uninstalling scipy-1.15.2:
  Successfully uninstalled scipy-1.15.2

WARNING: Skipping threadpoolctl as it is not installed.
WARNING: The candidate selected for download or install is a yanked version: 'scipy' candidate (version 1.11.0 at https://files.pythonhosted.org/packages/5a/55/ec296aa9399d00f5d6794b90d96b5cce5eeb46c62450173fedb2b3b7ef72/scipy-1.11.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (from https://pypi.org/simple/scipy/) (requires-python:<3.13,>=3.9))
Reason for being yanked: License Violation

✅  Kurulum tamam — sürümler:
  scipy          1.11.0
  threadpoolctl  3.1.0

In [1]:
import numpy, pandas as pd, sklearn, joblib
print("NumPy :", numpy.__version__)
print("pandas:", pd.__version__)
print("sklearn:", sklearn.__version__)
print("joblib :", joblib.__version__)

NumPy : 1.23.5
pandas: 2.2.3
sklearn: 1.4.2
joblib : 1.2.0

In [10]:
import pandas as pd

df_raw = pd.read_csv(csv_path, sep=';', decimal=',', na_values=[-200])

# 1) 'Date' + 'Time' sütunlarını birleştir ve dt’ye çevir
df_raw["utc"] = pd.to_datetime(
    df_raw["Date"] + " " + df_raw["Time"],
    format="%d/%m/%Y %H.%M.%S", errors="coerce"
)

# 2) Geçersiz tarihler (NaT) varsa düş
df_raw.dropna(subset=["utc"], inplace=True)

# 3) İndeks olarak ayarla
df_raw.set_index("utc", inplace=True)
print("Ham şekil:", df_raw.shape)
df_raw.head(3)

Ham şekil: (9357, 17)

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
utc,,,,,,,,,,,,,,,,,
2004-03-10 18:00:00,10/03/2004,18.00.00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578,NaN,NaN
2004-03-10 19:00:00,10/03/2004,19.00.00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255,NaN,NaN
2004-03-10 20:00:00,10/03/2004,20.00.00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502,NaN,NaN

In [11]:
df_raw.keys()

Index(['Date', 'Time', 'CO(GT)', 'PT08.S1(CO)', 'NMHC(GT)', 'C6H6(GT)',
       'PT08.S2(NMHC)', 'NOx(GT)', 'PT08.S3(NOx)', 'NO2(GT)', 'PT08.S4(NO2)',
       'PT08.S5(O3)', 'T', 'RH', 'AH', 'Unnamed: 15', 'Unnamed: 16'],
      dtype='object')

In [12]:
df = df_raw[["CO(GT)", "PT08.S5(O3)"]].dropna()
df.columns = ["CO", "PM25"]

df["hour"]   = df.index.hour
df["dow"]    = df.index.dayofweek
df["lag_1"]  = df["PM25"].shift(1)
df["lag_24"] = df["PM25"].shift(24)
df.dropna(inplace=True)

df["target"] = df["PM25"].shift(-1)
df.dropna(inplace=True)

print("Model veri şekli:", df.shape)
df.head(3)

Model veri şekli: (7319, 7)

                      CO    PM25  hour  dow   lag_1  lag_24  target
utc
2004-03-11 19:00:00  6.9  1704.0    19    3  1409.0  1268.0  1654.0
2004-03-11 20:00:00  6.1  1654.0    20    3  1704.0   972.0  1285.0
2004-03-11 21:00:00  3.9  1285.0    21    3  1654.0  1074.0   821.0

In [14]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
import joblib, pathlib

X = df[["PM25", "hour", "dow", "lag_1", "lag_24"]]
y = df["target"]
X_tr, X_te, y_tr, y_te = train_test_split(X, y, test_size=0.2, shuffle=False)

rf = RandomForestRegressor(n_estimators=150, random_state=0)
rf.fit(X_tr, y_tr)
mae = mean_absolute_error(y_te, rf.predict(X_te))
print("MAE:", round(mae, 2))

# model.pkl dosyasını kaydet
pathlib.Path("model").mkdir(exist_ok=True)
joblib.dump(rf, "model/model.pkl")

MAE: 117.31

['model/model.pkl']

In [27]:
%%writefile score.py
import json, joblib, numpy as np
def init():
    global mdl
    mdl = joblib.load("model.pkl")
def run(raw):
    d = json.loads(raw)
    X = [[d["PM25"], d["hour"], d["dow"], d["lag_1"], d["lag_24"]]]
    return {"pm25_next_1h": float(np.round(mdl.predict(X)[0], 2))}

%%writefile env.yml
name: rf-env
channels: [conda-forge]
dependencies:
  - python=3.10
  - scikit-learn==1.4.2
  - joblib==1.2.0

Overwriting score.py

In [47]:
# 🔧 1)  Aktif yorumlayıcıya kur
import sys, subprocess, importlib

cmd = [
    sys.executable, "-m", "pip", "install", "--quiet",
    "matplotlib==3.8.4", "seaborn==0.13.2"
]
print("➜ Kurulum başlıyor…")
subprocess.check_call(cmd)

# 🔄 2)  Modülleri içe aktararak test et
matplotlib = importlib.import_module("matplotlib")
seaborn    = importlib.import_module("seaborn")

print("matplotlib", matplotlib.__version__)
print("seaborn   ", seaborn.__version__)

➜ Kurulum başlıyor…
matplotlib 3.8.4
seaborn    0.13.2

          CO  PM25  hour   dow  lag_1  lag_24  target
CO      1.00  0.85  0.36 -0.13   0.74    0.44    0.75
PM25    0.85  1.00  0.24 -0.12   0.90    0.49    0.90
hour    0.36  0.24  1.00 -0.01   0.23    0.21    0.23
dow    -0.13 -0.12 -0.01  1.00  -0.11    0.15   -0.13
lag_1   0.74  0.90  0.23 -0.11   1.00    0.51    0.74
lag_24  0.44  0.49  0.21  0.15   0.51    1.00    0.42
target  0.75  0.90  0.23 -0.13   0.74    0.42    1.00

In [45]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, r2_score
import joblib

X = df[["PM25","hour","dow","lag_1","lag_24"]]
y = df["target"]
X_tr, X_te, y_tr, y_te = train_test_split(X, y, test_size=0.2, shuffle=False)

rf = RandomForestRegressor(n_estimators=150, random_state=0)
rf.fit(X_tr, y_tr)

preds = rf.predict(X_te)
mae   = mean_absolute_error(y_te, preds)
r2    = r2_score(y_te, preds)
print(f"MAE  : {mae:.2f} µg/m³")
print(f"R²   : {r2:.3f}")

joblib.dump(rf, "model.pkl")

MAE  : 117.31 µg/m³
R²   : 0.859

['model.pkl']

In [46]:
import matplotlib.pyplot as plt
plt.figure(figsize=(10,4))
plt.plot(y_te[-168:].index, y_te[-168:], label="Gerçek")
plt.plot(y_te[-168:].index, preds[-168:], label="Tahmin")
plt.legend(); plt.title("PM2.5  •  Gerçek vs Tahmin (Son 1 Hafta)")
plt.ylabel("µg/m³"); plt.xticks(rotation=45); plt.tight_layout(); plt.show()

ModuleNotFoundError: No module named 'matplotlib'